{:deps
  {org.clojure/clojurescript {:mvn/version "1.10.741"}}

  :aliases
  {:dev
   {:main-opts ["--main" "cljs.main"
                "--watch" "src"
                "--compile" "app"
                "--repl"]}
   :socket
   {:jvm-opts ["-Dclojure.server.browser={:port,4444,:accept,cljs.server.browser/repl}"]
    :main-opts ["--main" "cljs.main"
                "--watch" "src"
                "--compile" "app"]}}}
